html {
  background-color: black;
}

#h-count {
	color: white;
	float: center;
	text-align: center;
}

#h-click {
	color: white;
	float: center;
	text-align: center;
}
#h {
	color: white;
	float: center;
	text-align: center;
}


